<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
  
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <a class="navbar-brand mr-auto h1 empresa"  routerLink="/">{{nombre_empresa}}</a>
    
    <form class="form-inline ">
        <button class="btn btn-success" type="button">Iniciar Sesion</button>
        <button class="btn btn-outline-success" type="button">Registrarse</button>
      </form>
  </div>

</nav>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center">
  <input type="text" [(ngModel)]="input.username" placeholder="Username">
  <br>
  <input type="text" [(ngModel)]="input.password" type="password" placeholder="Password">
  <br>
  <button>Registrar usuario</button>
  <button (click)="onLogin()" >Login User</button>
</div>
